**/data/
dataset/images
google_images.txt
.vscode
__pycache__
*.pyc
*.webm
*.record
dataset/vid_data/frames
tensorflow
*.mp4
build/
*.so
*.c
detection/retinanet/saved
detection/retinanet/logs
detection/retinanet/snapshots
dataset/retimages
detection/*.h5
dataset/coco
detection/yolov3
detection/runs